.App {
  text-align: center;
}

.dygraph-axis-label-x {
  font-size: 0.5rem;
}

.dygraph-legend-line {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  bottom: .5ex;
  display: inline-block;
  height: 1px;
  padding-left: 1em;
  position: relative;
}
